<h1>Movie lists for all tastes!</h1>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category border">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
