<h1>Movie lists for all tastes!</h1>

<%= link_to "Add a List", new_list_path, class: "btn btn-ghost" %>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category border" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
