.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  height: 152px;
  border-radius: 50%;
  margin-right: 4px;
}

.navbar-brand:hover {
  color: white;
}

.neonderthaw-regular {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}
